@{
    ViewData["Title"] = "Home Page";
}


<h1 class="display-1"> Welcome to Gaming</h1>

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Product Types</th>
                <th scope="col">Typical Price</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Xbox Games</td>
                <td>$49.99</td>
            </tr>
            <tr>
                <td>Playstation Games</td>
                <td>$49.99</td>
            </tr>
            <tr>
                <td>Nintendo Games</td>
                <td>$49.99</td>
            </tr>
            <tr>

                <td>PC Games</td>
                <td>$55.99</td>
            </tr>
        </tbody>
    </table>
</div>


<h2>About Gaming</h2>
<p>
    Please select system and price range to return a game. 
</p>



<h2>Search For Games By System</h2>
<div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
    <label class="form-check-label" for="flexCheckDefault">
        XBox
    </label>
</div>
<div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
    <label class="form-check-label" for="flexCheckChecked">
        Playstation
    </label>
</div>
<div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
    <label class="form-check-label" for="flexCheckChecked">
        Nintendo
    </label>
</div>
<div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
    <label class="form-check-label" for="flexCheckChecked">
        PC
    </label>
</div>
<br />



<h2>Select Price Range</h2>
<label for="customRange1" class="form-label">Select Max Price: Low $9.99 - High $79.99</label>
<input type="range" class="form-range" id="customRange1">




<h2>Contact Form</h2>
<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Email address</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
</div>
<div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Write Message</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
</div>




